*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../fundo.jpg');
    background-size: 100%;
}
.g{ 
    display: flex;
    justify-content: center;    
    margin-top: 170px;
}
.T{
    
    width: 400px;
    height: 300px; 
}